@model SunTravel.Models.Tour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutManager.cshtml";
}
<div class="container">
    <h2 class="title">Details</h2>
</div>

<div class="container">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>
    </dl>
</div>
<div class="container">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</div>
