@model PagedList.IPagedList<SunTravel.Models.Tour>
@using PagedList.Mvc;

<div id="results">
    @ViewBag.Msg
    <table class="table">
        <tr class="success">
            <th>Id</th>
            <th>Country</th>
            <th>Hotel</th>
            <th>Name</th>
            <th>Place</th>
            <th>Date Start</th>
            <th>Duration</th>
            <th>Price</th>
            <th>FreePlace</th>
            <th>Photo1</th>
            <th>Active</th>
            <th>Insurance</th>
            <th>Food</th>
            <th>Option</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreePlace)
                </td>
                <td>
                    @{
                        if (item.Photo1 != null)
                        {
                            @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                    + Convert.ToBase64String(item.Photo1) + "\" />")
                        }
                        else
                        {
                            <span>None</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Insurance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food)
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
}
    </table>

    <div class="container">
        <div class="col-md-6 col-md-offset-1">
            @Html.PagedListPager(Model, page => Url.Action("TourItemsPartial", 
                new { page, @ViewBag.myButton, @ViewBag.getBy, @ViewBag.getValue, @ViewBag.CountryId, @ViewBag.HotelId, @ViewBag.active, @ViewBag.food, @ViewBag.place
                     }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "results" }))

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
        </div>
        <div class="col-md-4 col-md-offset-1">
            <button class="btn btn-lg btn-default btnBooking" value="Create" onclick="location.href='@Url.Action("Create", "Tour")'">Add new tour</button>
        </div>
    </div>
</div>
@*


*@
